html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #1f2858;
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.titulo {
  font-size: 3.2rem;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin: 3rem 0 0 0;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}

.contenedor-fetch {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 3rem;
}

.parent {
  background-color: #d1d0d0;
  border-radius: 10px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 0.2fr 0.2fr;
  padding: 1rem;
  height: 300px;
  width: 500px;
}

.div1 {
  border-radius: 10px;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.div2 {
  height: 100%;
  display: flex;
  padding: 0 10px;
  font-size: 13px;
  align-items: center;
  margin: 0;
  background-color: #3e4a86;
  color: #ffffff;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.div3 {
  background-color: #3e4a86;
  border-radius: 10px;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  color: #ffffff;
  font-size: 15px;
  padding: 5px;
  margin: 0;
  text-align: justify;
  overflow: hidden;
}

.div4 {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  margin: 0;
  padding: 5px;
  background-color: #3e4a86;
  color: #ffffff;
  font-size: 11.2px;
  border-radius: 10px;
}

.div5 {
  background-color: #ffa300;
  color: #ffffff;
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
}

.div5:hover {
  background-color: #dd9415;
  transition: 0.3s ease;
}
/* !Mantenimiento */
.nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
nav {
  background-color: #333;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

nav ul li a:hover {
  background-color: #555;
  transition: 0.3s ease;
}

.card-mantenimiento {
  background-color: #d1d0d0;
  border-radius: 1rem;
  color: white;
  padding: 1rem;
  width: 330px;
}
.imagen-mantenimiento {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: block;
  height: 250px;
  margin: 0;
  object-fit: cover;
  width: 100%;
}
.card-mantenimiento-info {
  background-color: #3e4a86;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
}
.card-mantenimiento-info p {
  padding: 0.7rem;
  font-size: 1.5rem;
}
span {
  font-size: 1.33rem;
}
.card-mantenimiento-info div {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
.card-mantenimiento-info button {
  background-color: #ffa300;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0.5rem auto;
  padding: 1rem;
  font-size: 1.3rem;
}
.card-mantenimiento-info button:hover {
  background-color: #dd9415;
  transition: 0.3s ease;
}

/* !Modal */
#modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.55);
}

#modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
}

#close-modal-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#close-modal-btn:hover,
#close-modal-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*  */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input,
select {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #ffa300;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button,
form input,
form select,
form label {
  font-size: 15px;
}

button:hover {
  background-color: #dd9415;
  transition: 0.3s ease;
}

button:active {
  background-color: #dd9415;
}
